*{
    font-family: 'Roboto', sans-serif;
}

#container{
    display:grid;
    grid-template-columns:repeat(16,1fr);
    grid-template-rows:repeat(16,1fr);
    width:500px;
    max-width: 500px;
    height:350px;
    max-height: 350px;
    margin:5% auto;
}

.square{
    border: 1px solid black;
}

#header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#text{
    font-size: 25px;
    display: inline-block;
    padding-right:15px;
}

#btn-change-size{
    font-size: 15px;
    padding: 5px;
    color:white;
    background-color:#48e;
    border-radius: 5px;
}

.color{
    background-color:rgb(255,255,6);
}
